body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}

header {
    border-bottom: 1px solid #747474;
    min-height: 86px;
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
}

header a {
    color: black;
    text-decoration: none;
}

header .content-container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

header h1 {
    margin: 25px;
    display: inline-block;
    float: left;
}

header nav {
    display: inline-block;
    float: right;
}

header nav > ul {
    margin: 0;
    padding: 0;
    height: 86px;
    line-height: 86px;
    overflow: hidden;
}

header nav > ul > li {
    float: left;
    font-size: 18px;
    margin-left: 15px;
    height: 82px;
    line-height: 82px;
    border-top: 4px solid transparent;
}

header nav > ul > li:hover {
    border-top: 4px solid #747474;
}

header nav > ul > li a {
    display: block;
}

header ul ul {
    display: none;
    position: absolute;
    background: red;
    list-style: none;
    background: #edebeb;
    border-top: 4px solid #747474;
    margin: 0;
    padding: 0;
}

header nav > ul > li:hover ul {
    display: block;
}

header nav > ul > li:hover ul li {
    text-indent: 20px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

header nav > ul > li:hover ul li a {
    padding-right: 40px;
}

header nav > ul > li:hover ul li:hover {
    background-color: rgba(255,255,255,0.5);
}

#home-slider {
    background: #f6f6f6;
}

#home-slider .viewport {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

#home-slider ul {
    margin: 0;
    padding: 0;
    width: 2000px;
}

#home-slider ul img {
    width: 100%;
}

#content {
    max-width: 960px;
    margin: 0 auto;
}

footer {
    border-top: 10px solid #f6f6f6;
    color: #8c8989;
    background: #363839;
}

footer ul {
    max-width: 960px;
    margin: 0 auto;
}

footer ul.info-and-links {
    width: 100%
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5%;
}

footer ul.info-and-links > li {
    padding: 1%;
}

footer ul.info-and-links ul {
    margin: 0;
    padding: 0;
}

footer ul.info-and-links li {
    float: left;
    display: block;
}

footer ul.info-and-links h3 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 0;
}

footer ul.info-and-links li.mission-statement {
    width: 48%;
}

footer ul.info-and-links li.backlog {
    width: 23%;
}

footer ul.info-and-links li.contributors {
    width: 23%;
}

footer ul.info-and-links li.backlog li, footer ul.info-and-links li.contributors li {
    display: block;
    float: none;
    font-size: 12px;
    line-height: 15px;
    color: #bfbfbf;
}

footer ul.info-and-links li.backlog li a, footer ul.info-and-links li.contributors li a {
    color: #bfbfbf;
    text-decoration: none;
    text-shadow: 1px 2px 1px #000;
}

footer ul.info-and-links li.backlog li a:hover, footer ul.info-and-links li.contributors li a:hover {
    color: white;
}

footer .content-container {
    background: #282a2b;
    border-top: 1px solid #4b4c4d;
    overflow: hidden;
}

footer ul.terms-and-conditions {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    color: #8c8989;
    font-size: 12px;
    text-shadow: 1px 2px 1px #000;
    max-width: 960px;
}

footer ul.terms-and-conditions li {
    float: left;
    color: #8c8989;
    margin-right: 10px;
}

footer ul.terms-and-conditions li a {
    text-decoration: none;
    color: #bfbfbf;
}